<form (ngSubmit)="onSubmit()" [formGroup]="postForm" class="form">
  <p class="form__title">
    {{ isCreateForm ? "Create post" : "Edit post" }}
  </p>
  <app-close-btn></app-close-btn>
  <p class="form__text">Choose your avatar:</p>
  <mat-radio-group
    [formControlName]="'authorAvatar'"
    aria-label="Select an option"
    class="form__radiogroup"
  >
    <mat-radio-button class="form__radiobtn" value="sentiment_very_satisfied">
      <mat-icon class="form__icon">sentiment_very_satisfied</mat-icon>
    </mat-radio-button>
    <mat-radio-button class="form__radiobtn" value="sentiment_satisfied">
      <mat-icon class="form__icon">sentiment_satisfied</mat-icon>
    </mat-radio-button>
    <mat-radio-button class="form__radiobtn" value="sentiment_neutral">
      <mat-icon class="form__icon">sentiment_neutral</mat-icon>
    </mat-radio-button>
    <mat-radio-button
      class="form__radiobtn"
      value="sentiment_very_dissatisfied"
    >
      <mat-icon class="form__icon">sentiment_very_dissatisfied</mat-icon>
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline" class="form-input-container">
    <mat-label>Author Name</mat-label>
    <input
      autocomplete="off"
      formControlName="authorName"
      matInput
      placeholder="Ex. John Dow"
    />
    <mat-error *ngIf="postForm.controls['authorName'].hasError('required')">
      Author name is required
    </mat-error>
    <mat-error *ngIf="postForm.controls['authorName'].hasError('minlength')">
      Min-length is 3
    </mat-error>
    <mat-error *ngIf="postForm.controls['authorName'].hasError('maxlength')">
      Max-length is 15
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-input-container">
    <mat-label>Title</mat-label>
    <textarea
      autocomplete="off"
      formControlName="title"
      matInput
      placeholder="Ex .Natural language interface accessibility"
    ></textarea>
    <mat-error *ngIf="postForm.controls['title'].hasError('required')">
      Title name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-input-container">
    <mat-label>Description</mat-label>
    <textarea
      autocomplete="off"
      class="form__textarea"
      formControlName="description"
      matInput
      placeholder="Ex. Spoken interaction with mobile devices and consumer"
    ></textarea>
    <mat-error *ngIf="postForm.controls['description'].hasError('required')">
      Description name is required
    </mat-error>
  </mat-form-field>
  <div class="form__button">
    <button [disabled]="!postForm.valid" mat-raised-button type="submit">
      {{ isCreateForm ? "Create" : "Edit" }}
    </button>
  </div>
</form>
