.header {

  &__nav {
    background-color: var(--secondary-bg-color);
  }

  &__auth-container {
    justify-content: flex-end;
    margin-left: auto;
  }

  &__public-container {
    display: inline-block;
  }

  &__auth-link {
    margin-right: 10px;
    font-size: var(--secondary-font-size);

    &_active {
      font-weight: var(--secondary-font-weight);
    }
  }

  &__auth-link:first-child {
    margin-left: 10px;
  }
}
