<header class="header">
  <mat-toolbar class="header__nav">
    <a
      (click)="onLogoClick()"
      [routerLink]="url.posts"
      class="header__auth-link"
      mat-button
      routerLinkActive="header__auth-link_active"
      >My blog</a
    >
    <div class="header__auth-container">
      <div *ngIf="!isPrivate" class="header__public-container">
        <a
          *ngFor="let route of publicRoutes"
          [routerLink]="route.path"
          class="header__auth-link"
          mat-button
          routerLinkActive="header__auth-link_active"
          >{{ route.name }}</a
        >
      </div>
      <a
        (click)="onLogoutClick()"
        *ngIf="isPrivate"
        class="header__auth-link"
        mat-button
        routerLinkActive="header__auth-link_active"
        >Logout</a
      >
      <button (click)="onClick()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
