<div>
  <mat-divider></mat-divider>
  <div class="container postItem">
    <mat-list-item>
      <mat-icon class="postItem__icon" mat-list-icon>{{
        post.authorAvatar
      }}</mat-icon>
      <div mat-line>{{ post.authorName }}</div>
      <div mat-line>{{ post.createdAt | date }}</div>
      <button (click)="onHeartClick()" class="postItem__btn">
        <mat-icon *ngIf="post.likes" class="active">favorite</mat-icon>
        <mat-icon *ngIf="!post.likes">favorite_border</mat-icon>
        {{ post.likes }}
      </button>
    </mat-list-item>
    <div class="postItemAdditional">
      <p class="mat-display-1 postItemAdditional__title">
        {{ post.title | uppercase }}
      </p>
      <p class="postItemAdditional__text">
        {{ post.description | slice: 0:100 }}...
      </p>
      <a mat-stroked-button routerLink="./{{ post._id }}">Read more...</a>
    </div>
  </div>
</div>
