<mat-list>
  <mat-divider></mat-divider>
  <div mat-subheader>Folders</div>
  <mat-list-item class="listItem">
      <mat-icon mat-list-icon class="icon">tag_faces</mat-icon>
      <div mat-line>John Dow</div>
      <div mat-line>{{ "November 2, 2021" | date }}</div>
  </mat-list-item>
  <p>{{ "Natural language interface accessibility" | uppercase }}</p>
  <mat-divider></mat-divider>
  <div mat-subheader>Notes</div>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{ note.name }}</div>
    <div mat-line>{{ note.updated | date }}</div>
  </mat-list-item>
</mat-list>
