<header class="header">
  <mat-toolbar class="header__nav">
    <a
      class="header__auth-link"
      mat-button
      routerLink="/posts"
      routerLinkActive="header__auth-link_active"
      >My blog</a
    >
    <div class="header__auth-container">
      <a
        class="header__auth-link"
        mat-button
        routerLink="/login"
        routerLinkActive="header__auth-link_active"
        >Log in</a
      >
      <a
        class="header__auth-link"
        mat-button
        routerLink="/signup"
        routerLinkActive="header__auth-link_active"
        >Get started</a
      >
      <button (click)="onClick()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
