.header {
  margin-bottom: var(--header-margin);

  &__nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
  }

  &__logo {
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
  }
}
