:root {
  --form-bg-color: white;
  --zindex-modal-content: 999;
  --zindex-modal-overlay: 100;
  --box-shadow-color: #d4144319;
  --modal-bg-color: #0000004c;
  --sidebar-card-bg-color: #e2dfdfff;
  --footer-bg-color: #1a1e25;
  --secondary-text-color: #cebaaf;
  --secondary-bg-color: #e1dfdf;
  --main-font-size: 16px;
  --secondary-font-size: 22px;
  --main-font-weight: 500;
  --secondary-font-weight: 700;
  --heart-active-color: #ff0000ff;
  --header-margin: 30px;
  --text-margin: 5px;
  --main-border-radius: 10px;
}
