<mat-accordion class="comment">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Comments</mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let comment of comments">{{ comment.message }}</p>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field appearance="fill" class="comment__input">
        <mat-label>Comment here</mat-label>
        <input #comment="ngModel" matInput name="message" ngModel="" required />
      </mat-form-field>
      <button
        [disabled]="!f.valid"
        aria-label="Submit comment"
        color="warn"
        mat-fab
        type="submit"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-error *ngIf="!comment.valid && comment.touched">
        Please enter a comment
      </mat-error>
    </form>
  </mat-expansion-panel>
</mat-accordion>
