<div>
  <div class="upp-container">
    <div class="upp-container__sort">
      <p class="upp-container__text">Sort by</p>
      <mat-button-toggle-group
        (change)="onSort($event)"
        aria-label="Font Style"
        name="fontStyle"
      >
        <mat-button-toggle checked="true" value="date">Date</mat-button-toggle>
        <mat-button-toggle value="title">Title</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="fill" class="filter">
      <mat-label>Filter</mat-label>
      <input
        #filter
        (input)="onInputChange()"
        [(ngModel)]="filterStr"
        matInput
        type="text"
      />
      <button
        (click)="filterStr = ''"
        *ngIf="filterStr"
        aria-label="Clear"
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-list *ngIf="posts.length > 0 && !isFetching" class="list">
    <div>
      <app-post-template
        (postSelected)="addLike(post.likes, post._id)"
        *ngFor="let post of posts"
        [isSliced]="isSliced"
        [post]="post"
      >
        <a mat-stroked-button routerLink="./{{ post._id }}"> Read more... </a>
        <mat-icon [matBadge]="post.comments.length" matBadgeColor="warn"
          >comment
        </mat-icon>
      </app-post-template>
      <mat-paginator
        (page)="getPaginatorData($event)"
        [length]="totalCount"
        [pageSizeOptions]="[5, 10]"
        [pageSize]="posts.length"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-list>
</div>
<app-spinner *ngIf="isFetching"></app-spinner>
