<mat-drawer-container class="example-container">
  <mat-drawer [opened]="isSideNavOpened" mode="side" position="end">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet *ngIf="!error"></router-outlet>
    <app-error *ngIf="error" [error]="error">
      <button
        (click)="onClose()"
        color="warn"
        data-id-test="unit"
        mat-raised-button
      >
        Ok, close it
      </button>
    </app-error>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
