<div>
  <mat-divider></mat-divider>
  <div class="container postItem">
    <div class="postItem__upperPart">
      <mat-icon class="postItem__icon" mat-list-icon>{{
        post.authorAvatar
      }}</mat-icon>
      <div>
        <p class="postItem__text">{{ post.authorName }}</p>
        <p class="postItem__text">{{ post.createdAt | date }}</p>
      </div>
      <button
        (click)="onHeartClick(post._id, post.likes)"
        class="postItem__btn"
      >
        <mat-icon *ngIf="post.likes" class="active">favorite</mat-icon>
        <mat-icon *ngIf="!post.likes">favorite_border</mat-icon>
        {{ post.likes }}
      </button>
    </div>
    <div class="postItemAdditional">
      <p class="mat-display-1 postItemAdditional__title">
        {{ post.title | uppercase }}
      </p>
      <p class="postItemAdditional__text">
        {{ post.description }}
      </p>
      <div>
        <button class="postItemAdditional__btn" mat-stroked-button>
          Add comment
        </button>
        <button
          (click)="onEditClick()"
          class="postItemAdditional__btn"
          color="primary"
          mat-stroked-button
        >
          Edit
        </button>
        <button
          (click)="onDeleteClick(post._id)"
          color="warn"
          mat-stroked-button
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
