@import "../styles/mixins/btn-mixin";

.postItem {
  padding: 35px 16px 10px;

  &__upperPart {
    display: flex;
  }

  &__text {
    margin: 0;
    font-size: var(--main-font-size);
  }

  &__icon {
    transform: scale(1.8);
    margin-right: 20px;
  }

  &__btn {
    @include general-btn;
    align-content: end;
    margin-left: auto;
  }
}

.postItemAdditional {
  padding-top: 10px;
  font-weight: var(--main-font-weight);

  &__title {
    margin-bottom: var(--text-margin);
  }

  &__text {
    font-size: var(--main-font-size);
    color: var(--secondary-text-color);
  }
}

.active {
  color: var(--heart-active-color);
}
