<div>
  <mat-divider></mat-divider>
  <div class="container postItem">
    <div class="postItem__upperPart">
      <mat-icon class="postItem__icon" mat-list-icon>{{
        post.authorAvatar
      }}</mat-icon>
      <div>
        <p class="postItem__text">{{ post.authorName }}</p>
        <p class="postItem__text">{{ post.createdAt | date }}</p>
      </div>
      <button (click)="onHeartClick(post._id)" class="postItem__btn">
        <mat-icon *ngIf="post.likes" class="active">favorite</mat-icon>
        <mat-icon *ngIf="!post.likes">favorite_border</mat-icon>
        {{ post.likes }}
      </button>
    </div>
    <div class="postItemAdditional">
      <p class="mat-display-1 postItemAdditional__title">
        {{ post.title | uppercase }}
      </p>
      <p class="postItemAdditional__text">
        {{ post.description }}
      </p>
      <a mat-button routerLink="./{{ post._id }}">Read more...</a>
    </div>
  </div>
</div>
