.nav {
  margin-bottom: var(--header-margin);

  &__text {
    margin: 0;
    font-size: var(--main-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-text-color);
  }
}

.active {
  font-weight: var(--secondary-font-weight);
}
