<mat-list class="comment">
  <mat-list-item *ngIf="userCommented" class="comment__item">
    <div class="comment__btn-group">
      <button
        (click)="onDelete()"
        aria-label="delete"
        color="accent"
        mat-mini-fab
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        (click)="onEdit()"
        aria-label="edit"
        class="comment__btn"
        color="basic"
        mat-mini-fab
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <p class="comment__text">{{ comment.message }}</p>
  </mat-list-item>
  <mat-list-item *ngIf="!userCommented">{{ comment.message }}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
