/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "./app/components/sass/main";


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 95.8vh;
  margin: 0;
  position: relative;
}
