<form class="form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <button
    mat-icon-button
    class="form__close"
    (click)="onCloseClick()"
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-form-field class="form-container" appearance="outline">
    <mat-label>Author Name</mat-label>
    <input
      type="email"
      matInput
      placeholder="Ex. John Dow"
      formControlName="authorName"
    />
    <mat-error *ngIf="postForm.controls['authorName'].hasError('required')">
      Author name is required
    </mat-error>
    <mat-error *ngIf="postForm.controls['authorName'].hasError('minlength')">
      Min-length is 3
    </mat-error>
    <mat-error *ngIf="postForm.controls['authorName'].hasError('maxlength')">
      Max-length is 15
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-container" appearance="outline">
    <mat-label>Title</mat-label>
    <textarea
      matInput
      placeholder="Ex .Natural language interface accessibility"
      formControlName="title"
    ></textarea>
    <mat-error *ngIf="postForm.controls['title'].hasError('required')">
      Title name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-container" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Ex. Spoken interaction with mobile devices and consumer"
      formControlName="description"
    ></textarea>
    <mat-error *ngIf="postForm.controls['description'].hasError('required')">
      Description name is required
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!postForm.valid">
    Create
  </button>
</form>
